
#svg-container{
    background-color:chartreuse;
        width: 400px;
        height: 400px;
        margin: auto;
        margin-top: 50px ;
        border-style: solid;
        border-color: red;
}